@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-950 text-white;
}

.container-custom {
  @apply max-w-7xl mx-auto px-6;
}

.section {
  @apply py-24;
}

.card {
  @apply rounded-3xl border border-slate-800 bg-slate-900 shadow-lg;
}

.primary-btn {
  @apply rounded-xl bg-blue-600 px-6 py-3 font-semibold transition hover:bg-blue-700;
}

.secondary-btn {
  @apply rounded-xl border border-slate-700 px-6 py-3 transition hover:bg-slate-800;
}

@keyframes loadingBar {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(320%);
  }
}

.loading-bar {
  animation: loadingBar 1.2s linear infinite;
}